<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    	
        <style>
        .table {
        margin: auto;
        width: 50% !important;
        background-color: rgb(98, 143, 182);
        }

        .dates {
        width: 50%; 

        }
        </style>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" type="text/javascript"></script>

</head>

<body>
    
    <header class="header">
  <nav class="nav">
            <ul class="menu">
                <li class="menu_item">
                    <a href="/" class="menu_link">На главную</a>
                </li>
                <li class="menu_item">
                    <a href="/filter" class="menu_link">Поиск</a>
                </li>
                <li class="menu_item">
                    <a href="/orders" class="menu_link">Мои заказы</a>
                </li>
                <li class="menu_item">
                    <a href="/cars" class="menu_link">Автомобили</a>
                </li>
                <li class="menu_item">
                    <a href="/services" class="menu_link">Товары/Услуги</a>
                </li>
                <li class="menu_item">
                    <a href="/customers" class="menu_link">Клиенты</a>
                </li>
                <li class="menu_item">
                    <a href="/providers" class="menu_link">Поставщики</a>
                </li>
                <li class="menu_item">
                    <a href="/providers_raiting" class="menu_link">Рейтинг поставщиков</a>
                </li>
                <li class="menu_item">
                    <a href="/authorization" class="menu_link">Выход</a>
                </li>
              
            </ul>
              {{!-- <div class="lupa-menu">
                        <a href="#"><img class="lupa-img" src="./img/lupa.png"></a>
        </div> --}}
        </nav>
    </header>
      <div class="container_body">
           {{{body}}} 
            <section class="copyright">
        <div class="copyright-content">
            <div class="copyright-text">
                <p>&copy; 2020 Minsk, Gurskogo 33, 220088. Все права защищены.
                  
                </p>
            </div>
            <div class="copyright-icon">
                <ul>
                    <li><a href="https://vk.com/"><img src="./img/icon/vk-brands.svg"> </a></li>
                    <li><a href="https://www.facebook.com"><img src="./img/icon/facebook-brands.svg"> </a></li>
                    <li><a href="https://twitter.com"><img src="./img/icon/twitter-brands.svg"> </a></li>
                    <li><a href="https://www.viber.com"><img src="./img/icon/viber-brands.svg"> </a></li>
                    <li><a href="https://www.youtube.com"><img src="./img/icon/youtube-brands.svg"> </a></li>
                    <li><a href="https://www.instagram.com"><img src="./img/icon/instagram-brands.svg"> </a></li>
                </ul>
            </div>
        </div>
    </section>
    </div>
    
  


 
</body>

</html>