<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.vxod.css">
</head>

<body>
   
    <section class="wrapper-animation">
        <div class="container">
		
			<form method="POST" action="/user_authorization" class="form">
				<h2 class="form_title">Authorization</h2>
				<div class="input_block">
					<label for="email" class="label required">Login</label>
						<input type="text" id="login" name="login" class="input"placeholder="Enter your login" required>
				</div>
				<div class="input_block">
					<label for="password" class="label required">Password</label>
						<input type="password" placeholder="Enter your password" name="password" class="input" required>
				</div>
					<a href="#" class="link">Forgot password?</a>
					<div class="input_block checkbox">
							<input type="checkbox" id="checkbox" name="checkbox" class="input">
							<label for="checkbox">Keep me logged in
								</label>
					</div>
                    <div class="buttons">
                    <button type="submit" id="" class="btn">Log in</button>
					<button type="submit" id="" class="btn"><a class="registracia_a" href="/registration">Registration</a></button>
                    </div>
					
				
			</form>
          </div>
    </section>
</body>

</html>