<head>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./main.css">

</head>

<div class="content_hideer">
    <div class="hideer">
        <h1>АВТОМОБИЛЬНЫЕ ПЕРЕВОЗКИ</h1>
    </div>
    <div class="hidder-text">
        <div class="text-ist">
            <h2>«БелБудГрузавтотранс» – МЕЖДУНАРОДНЫЙ АВТОМОБИЛЬНЫЙ ПЕРЕВОЗЧИК</h2><br>
            Здравствуйте,вы вошли в систему как 
            {{#if customer}} заказчик. 
                {{else}}
                    {{#if executor}} исполнитель. {{/if}}
                    {{#if admin}} администратор.{{/if}}
            {{/if}}
            <p>ООО "БелБудГрузавтотранс" оказывает автомобильные грузоперевозки. За плечами наших экспедиторов сотни успешных транспортировок из/в Германию, Францию, Италию, Чехию, Польшу Нидерланды и многие другие страны.</p><br>
            <h2>МЕЖДУНАРОДНЫЕ АВТОМОБИЛЬНЫЕ ПЕРЕВОЗКИ – ПРЕИМУЩЕСТВА</h2>
            {{!-- <ul> --}}
            <p>
                <li>ООО "ТЭП "БелБудГрузавтотранс" имеет статус таможенного перевозчика на территории Беларуси и России</li>
                <li>"БелБудГрузавтотранс" осуществляет автомобильные перевозки ADR (опасных) грузов всех классов;</li>
                <li>Для нас нет разницы, насколько велика или мала партия Вашего товара.</li>
                <li>Регулярные авто из Белостока в Минск 4 раза в неделю: понедельник, вторник, четверг, пятница;</li>
                <li>С нами вы можете забыть о бумажной волоките.</li>
                <li>Соотношение цена-качество: выгодные тарифы + гарантия сохранности товаров и доставки в срок.</li>
                <li>Компания разработает для Вас наиболее выгодные условия перевозки, учитывая все необходимые для этого факторы.</li>
                <li>В случае необходимости мы готовы предоставить дополнительные услуги, включающие складирование, страхование, охрану грузов и пр.</li>
                <li>Мы гарантируем подбор подходящих под конкретные задачи автомобильных перевозок виды транспорта с обязательным учётом характеристик и особенностей груза.</li>
              
            </p>

            {{!-- </ul> --}}
        </div>
    </div>
</div>